@media (min-width: 1500px) {
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: 30%;
    width: 300px;
    height: 390px;
    opacity: 90%;
    background-image: url(../img/afterheader-1.png);
    background-repeat: no-repeat;
    transform: rotate(20deg);
  }
  
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: 30%;
    right: auto;
    bottom: 0;
    left: 10%;
    background-image: url(../img/afterheader-2.png);
  }
}

@media (max-width: 1500px) and (min-width: 1100px) {
  
  .product-device {
    position: absolute;
    right: 0%;
    bottom: 30%;
    width: 300px;
    height: 390px;
    opacity: 90%;
    background-image: url(../img/afterheader-1.png);
    background-repeat: no-repeat;
    transform: rotate(20deg);
  }
  
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 0px;
    bottom: 10%;
    left: 10px;
    content: "";
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: 30%;
    right: auto;
    bottom: 0;
    left: 0%;
    background-image: url(../img/afterheader-2.png);
  }
}

@media (max-width: 1100px) {
  
  .product-device {
    position: absolute;
    right: -20%;
    bottom: 30%;
    width: 300px;
    height: 390px;
    opacity: 90%;
    background-image: url(../img/afterheader-1.png);
    background-repeat: no-repeat;
    transform: rotate(20deg);
  }
  
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: -10px;
    bottom: 10%;
    left: -20px;
    content: "";
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: 30%;
    right: auto;
    bottom: 0;
    left: -20%;
    background-image: url(../img/afterheader-2.png);
  }
}